* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        background-color: #36384D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container { 
    background-color: white;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 40px;
        border-radius: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 904px;
        padding: 24px 32px;
        display: flex;
        justify-content: space-between;
    }
}

header {
    background-image: url(assets/images/illustration-sign-up-mobile.svg);
    width: 375px;
    height: 284px;
}

@media screen and (min-width: 768px) {
    header {
        background-image: url(assets/images/illustration-sign-up-tablet.svg);
        width: 528px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-image: url(assets/images/illustration-sign-up-desktop.svg);
        width: 400px;
        height: 593px;
        border-radius: 10px;
        order: 2;
    }
}

@media screen and (min-width: 1024px) {
    .sub-container {
        align-self: center;
        max-width: 376px;
    }
}

main {
    margin: 40px 24px;
}

@media screen and (min-width: 768px) {
    main {
        margin: 40px 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        margin: 0 0 32px;
    }
}

main h1 {
    font-size: 40px;
    color: #242742;
    margin-bottom: 24px;
}

@media screen and (min-width: 1024px) {
    main h1 {
        margin-bottom: 32px;
    }
}

main p, li {
    font-size: 16px;
    line-height: 150%;
}

main p {
    margin-bottom: 24px;
}

@media screen and (min-width: 1024px) {
    main p {
        margin-bottom: 32px;
    }
}


main ul li {
    list-style-type: none;
    display: flex;
}

main ul li img {
    align-self: flex-start;
    margin-right: 27px;
}

form {
    margin: 0 24px 44px;
}

@media screen and (min-width: 768px) {
    form {
        margin: 0;
    }
}


form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

form label {
    font-weight: bold;
    font-size: 12px;
}

form span.error {
    font-weight: bold;
    font-size: 12px;
    color: #FF6155;
}

form .hide {
    display: none;
}

form input[type=email] {
    width: 100%;
    height: 56px;
    font-size: 16px;
    line-height: 160%;
    color: #242742;
    margin-bottom: 24px;
    padding-left: 24px;
    border: 1px solid #949494;
    border-radius: 8px;
}

form input[type=email].errorMail {
    background-color: #FFE7E6;
    color: #FF6155;
    border: 1px solid #FF6155;
}

form input[type=email].errorMail:focus {
    background-color: white;
    color: #242742;
    border: 1px solid #000000;
}

form button {
    width: 100%;
    height: 56px;
    background-color: #242742;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}