* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

main {
    margin: 149px 24px 70px;
    height: 623px;
    display: flex;
    flex-direction: column;
}

img {
    margin-bottom: 32px;
    width: 64px;
    height: 64px;
}

h1 {
    margin-bottom: 32px;
    font-size: 40px;
    color: #242742;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
    line-height: 150%;
}

span {
    font-weight: bold;
}

button {
    width: 100%;
    height: 56px;
    margin-top: auto;
    background-color: #242742;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


