* {
    margin: 0;
}

body {
    background-color: #ECF2F8;
    font-family: "Manrope", sans-serif;
    position: relative;
    padding: 64px 24px 65px;
}

.article-preview-component {
    width: 327px;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (min-width: 376px) {
    .article-preview-component {
        width: 608px;
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .article-preview-component {
        width: 730px;
    }
}

.article-preview-component img {
    width: 327px;
    border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 376px) {
    .article-preview-component img {
    width: 229px;
    border-radius: 10px 0 0 10px;
    }
}

@media screen and (min-width: 769px) {
    .article-preview-component img {
    width: 285px;
    }
}

.article-preview-component p.first-paragraph{
    font-size: 20px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 0.25px;
    margin: 32px 30px 0;
    color: #48556A;
}

@media screen and (min-width: 376px) {
    .article-preview-component p.first-paragraph {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;;
    }
}

.article-preview-component p.second-paragraph{
    font-size: 13px;
    line-height: 140%;
    margin: 24px 30px 48px;
    color: #6E8098;
}

@media screen and (min-width: 376px) {
    .article-preview-component p.second-paragraph {
        margin: 24px 0;
    }
}

.default-state {
    width: 327px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (min-width: 376px) {
    .default-state {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
}

.default-state img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 0 0 30px;
}

.default-state .profile-info {
    position: absolute;
    left: 87px;
}

.default-state .profile-info p.name,p.date {
    margin: 0;
}

.default-state .profile-info p.name {
    font-size: 13px;
    font-weight: bold;
    line-height: 140%;
    color:#48556A;
}

.default-state .profile-info p.date {
    font-size: 13px;
    line-height: 140%;
    color:#9DAEC2;
}

.default-state .icon-holder {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 30px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    background-color: #ECF2F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 376px) {
    .default-state .icon-holder {
        position: relative;
        z-index: 10;
    }
}

.default-state img.share-icon {
    width: 15px;
    height: 12px;
}

.popup-share-block {
    background-color: #48556A;
    border-radius: 0 0 10px 10px;
    width: 327px;
    height: 76px;
    max-width: 100%;
    position: absolute;
    bottom: 1px;
}

.popup-share-hidden {
    display: none;
}

@media screen and (min-width: 376px) {
    .popup-share-block {
        width: 248px;
        height: 55px;
        bottom: 153%;
        left: 41%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-share-hidden {
    display: none;
    }
}

@media screen and (min-width: 769px) {
    .popup-share-block {
        bottom: 160%;
        left: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-share-hidden {
    display: none;
}
}

.popup-share-block .share-state {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 376px) {
    .popup-share-block .share-state {
        width: 171px;
        height: 20px;
        justify-content: space-between;
        align-items: unset;
    }

    .popup-share-block .share-state::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 12px;
        border-style: solid;
        border-color: #48556A transparent transparent transparent;
    }
}

.popup-share-block .share-state p {
    color: #9DAEC2;
    margin-right: 24px;
}

@media screen and (min-width: 376px) {
    .popup-share-block .share-state p {
        margin: 0 24px 0 0;
    }
}


.popup-share-block .share-state .share-icons {
    display: flex;
    margin-right: 64px;
}

@media screen and (min-width: 376px) {
    .popup-share-block .share-state .share-icons {
        margin: 0;
    }
}

.popup-share-block .share-state .share-icons img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 0;
}


.popup-share-block .share-state .share-icons img#pinterest-icon {
    margin-right: 0;
}

.popup-share-block .share-state .share-icon-holder {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    background-color: #ECF2F8;
    line-height: 32px;
}

@media screen and (min-width: 376px) {
    .popup-share-block .share-state .share-icon-holder {
        display: none;
    }
}

.popup-share-block .share-state .share-icon-holder img  {
    width: 15px;
    height: 12px;   
}

@media screen and (min-width: 376px) {
    .main-content {
        width: 365px;
        margin: 30px 40px;
    }
}